<h1 class="text-center">Liste des produits</h1>

<p-button label="Créer produit" (onClick)="onCreate()" class="block text-center"/>

    @for(product of  basketService.GetProductsQuantity() ;track product)
    {
        <p>{{product.name}}: {{product.quantity}}</p>
    }

    <ng-template pTemplate="header">
        <div class="flex justify-content-between align-items-center">
            <span class="text-xl font-bold">Produits disponibles ({{ products().length }})</span>
        </div>
    </ng-template>
<p-dataView #dv [value]="products()">
    <ng-template pTemplate="list" let-products>
        @for (product of products; track product.id) {
            <app-product-card [product]="product" 
            (update)="onUpdate($event)"
            (addToBasket)="onAddToBasket($event)"
            (removeFromBasket)="onRemoveFromBasket($event)"
            (delete)="onDelete($event)"
            /> 
        }
    </ng-template>
</p-dataView>

<p-dialog [(visible)]="isDialogVisible"
    [style]="{ width: '50vw' }"
    header="Ajout/Edition produit">
    <app-product-form
        [product]="editedProduct()"
        (save)="onSave($event)"
        (cancel)="onCancel()"
    />
</p-dialog>